<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <!-- Name Field -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      <ion-text color="danger">
        <p *ngIf="form.controls['name'].errors?.['required']">Name is required.</p>
        <p *ngIf="form.controls['name'].errors?.['minlength']">Name should be at least 3 characters long.</p>
      </ion-text>
    </div>

    <!-- Price Field -->
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input formControlName="price" type="number" min="0" step="0.01"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['price'].invalid && form.controls['price'].touched">
      <ion-text color="danger">
        <p *ngIf="form.controls['price'].errors?.['required']">Price is required.</p>
        <p *ngIf="form.controls['price'].errors?.['min']">Price cannot be negative.</p>
      </ion-text>
    </div>

    <!-- Description Field -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
      <ion-text color="danger">
        <p *ngIf="form.controls['description'].errors?.['required']">Description is required.</p>
      </ion-text>
    </div>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" [disabled]="form.invalid">Submit</ion-button>
  </form>
</ion-content>
