<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        Home
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/about']">
        About Us
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/form']">
        Add Product
      </ion-button>
    </ion-buttons>
    <ion-title>
      DEMO to show Laravel API data.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Footer Content</ion-title>
  </ion-toolbar>
</ion-footer>

